class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next
class Solution:
    def {{.FunctionName}}(self, {{.Parameters}}) -> {{.ReturnType}}:
        # Implement here

# Driver code would be here (hidden)